<!-- Dummy Camera view, will be removed in the future - simply using for emulation purposes -->
<ion-view title="Camera">
    <ion-content padding="'true'" style="" class="has-header">

      <button class="button button-full button-assertive" ng-click="takePicture()">
        Take Picture
      </button>


      <img ng-show="post.imageURI !== undefined" ng-src="{{post.imageURI}}" style="text-align: center">

      <button ng-show="post.imageURI !== undefined" class="button button-full button-assertive" ng-click="createPost()">
        Post Picture
      </button>

    </ion-content>
</ion-view>
