<!-- Comments view that from click the comments tab on a Card(post) -->
<ion-view title="Comments">
    <ion-content padding="'true'" class="has-header">
        <ion-list>
            <ion-item menu-close="">Nice camera angle!</ion-item>
            <ion-item menu-close="">Nice camera angle!</ion-item>
            <ion-item menu-close="">Nice camera angle!</ion-item>
            <ion-item menu-close="">Nice camera angle!</ion-item>
            <ion-item menu-close="">Nice camera angle!</ion-item>
            <ion-item menu-close="">Nice camera angle!</ion-item>
            <ion-item menu-close="">back button on top left</ion-item>
            <ion-item menu-close="">wheres the back button</ion-item>
            <label class="item item-input" name="photo-comment">
                <input type="text" placeholder="comment">
            </label>
        </ion-list>
    </ion-content>
</ion-view>
