<!-- Comments view that from click the comments tab on a Card(post) -->
<!-- commentrsCtrl attached here-->
<ion-view title="Comments" >
    <ion-content padding="'true'" class="has-header">
        <ion-list ng-repeat="comment in post.comments">
          <ion-item menu-close="" >
            {{comment}}
          </ion-item>
        </ion-list>
        <!-- input field to comments-->
<!--         <label class="item item-input" name="photo-comment">
          <form ng-submit="addComment()" ng-controller="commentsCtrl">
            <input type="text" placeholder="comment" ng-model="message">
            <button type="submit"></button>
          </form>

        </label> -->
    </ion-content>
</ion-view>
