<ion-view title="Home">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <img src="img/CUTCSqV3QaOAwv9zmssP_12.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
                <ion-list></ion-list>
                <ion-list>
                    <label class="item item-input">
                        <span class="input-label"></span><textarea placeholder=""> #bonfire #night #stars #summer</textarea>
                    </label>
                </ion-list>
                <div class="button-bar">
                    <button class="button button-stable button-block  icon ion-thumbsup"></button>
                    <a menu-close="" href="#/page2" class="button button-stable button-block  icon ion-chatbox"></a>
                    <button class="button button-stable button-block  icon ion-share"></button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <img src="img/ISLRJ5p7Qiu1IXh2OAW5_02.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
                <ion-list></ion-list>
                <ion-list></ion-list>
                <div class="button-bar">
                    <button class="button button-stable button-block  icon ion-thumbsup"></button>
                    <a menu-close="" href="#/page2" class="button button-stable button-block  icon ion-chatbox"></a>
                    <button class="button button-stable button-block  icon ion-share"></button>
                </div>
            </div>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>